.grid {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  /* gap: '1rem'; */
  align-items: center;
  flex-wrap: wrap;
}
.grid-wrapper {
  max-width: 500px;
}
.turn-highlight {
  color: white;
}
.reset {
  padding: 1rem;
  color: white;
  background-color: var(--resetGreen);
  border-radius: 5px;
  border: none;
  width: 100%;
}
