.card {
  border: 1px solid black;
  padding: '2rem';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: var(--yellow);
  flex-basis: 30%;
}
